$base-color-10: lighten($base-color, 10%);
$base-color-20: lighten($base-color, 20%);
$base-color-30: lighten($base-color, 30%);
$base-color-40: lighten($base-color, 40%);
$base-color-50: lighten($base-color, 50%);
$base-color-60: lighten($base-color, 60%);
$base-color-70: lighten($base-color, 70%);
$base-color-80: lighten($base-color, 80%);
$base-color-90: lighten($base-color, 90%);

$text-color: #fff;
