.rounded {
  border-radius: $base-roundness;
}

button {
  background-color: $base-60;
  border: 0;
  color: $base-20;
  display: inline-block;
  padding: $base-spacing;

  @include transition(background-color);

  &:hover {
    background-color: $base-90;
  }

  @extend .rounded;
}
