@import "common";

input {
  &[type="email"],
  &[type="password"],
  &[type="text"] {
    background: none;
    border: 0;
    border-bottom: 2px solid $base-60;
    display: inline-block;
    padding: $base-spacing;
    width: 100%;

    @include transition(border-bottom-color);

    &:hover,
    :focus {
      border-bottom-color: $base-90;
    }
  }
}
